## Question C (Ex2, Q1 and Q2 of TD3)

In [1]:
import numpy as np
import pandas as pd
import math

In [41]:
df=pd.read_csv("Natixis.csv", sep=";")
df["Cours de Natixis"] = df["Cours de Natixis"].astype(str).str.replace(",", ".").astype(float)

In [43]:
df.head()

         Date  Cours de Natixis
0  02/01/2015             5.621
1  05/01/2015             5.424
2  06/01/2015             5.329
3  07/01/2015             5.224
4  08/01/2015             5.453

In [45]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [47]:
P = df["Cours de Natixis"].values 
returns = (P[1:] - P[:-1]) / P[:-1]
returns = np.append(returns, np.nan)

df["Return"] = returns

In [67]:
returns_sorted = np.sort(df["Return"].values)


losses = returns_sorted[returns_sorted < 0]
gains = returns_sorted[returns_sorted > 0]

abs_losses = np.abs(losses)
abs_losses = np.sort(abs_losses)

In [71]:
abs_losses = np.abs(losses)
abs_losses = np.sort(abs_losses)

We calculate Pickand estimator for losses using the formula

In [73]:
n = len(losses)
k = int(np.sqrt(n))
pickands_losses = (1 / np.log(2)) * np.log((abs_losses[-k] - abs_losses[-2*k]) / (abs_losses[-2*k] - abs_losses[-4*k]))

In [75]:
print(pickands_losses)

0.4081905706152293

We calculate Pickand estimator for losses using the formula

In [77]:
n_gain=len(gains)
k_gain=int(np.sqrt(n_gain))
pickands_gains=(1 / np.log(2)) * np.log((gains[-k_gain] - gains[-2*k_gain]) / (gains[-2*k_gain] - gains[-4*k_gain]))

In [79]:
print(pickands_gains)

0.7195506129332101

Now using the formula of the pickand VaR with the pickand estimator with iid assumptions

In [85]:
alpha = 0.95

VaR_95 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [87]:
print(VaR_95)

0.041594311391404196

In [89]:
alpha = 0.9

VaR_90 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [91]:
print(VaR_90)

0.028355833756663593

In [93]:
alpha = 0.99

VaR_99 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [95]:
print(VaR_99)

0.08406218630097897