In [199]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
df=pd.read_excel("Dataset TD5.xlsx")

In [78]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,GBPEUR Curncy,NaN,NaN,NaN,SEKEUR Curncy,NaN,NaN,NaN,CADEUR Curncy,NaN,NaN
1,Date,HIGH,LOW,NaN,Date,HIGH,LOW,NaN,Date,HIGH,LOW
2,2016-03-07 08:59:59.990000,1.2932,1.2917,NaN,2016-03-07 08:59:59.990000,0.10725,0.1072,NaN,2016-03-07 08:59:59.990000,0.6842,0.6829
3,2016-03-07 09:15:00,1.294,1.293,NaN,2016-03-07 09:15:00,0.10728,0.10717,NaN,2016-03-07 09:15:00,0.6849,0.6841
4,2016-03-07 09:30:00,1.2943,1.2922,NaN,2016-03-07 09:30:00,0.10726,0.10719,NaN,2016-03-07 09:30:00,0.6844,0.6837

In [79]:
new_header = df.iloc[1]
df=df[2:]
df.columns=new_header
df = df.reset_index(drop=True)
df.head()

1,Date,HIGH,LOW,NaN,Date,HIGH,LOW,NaN,Date,HIGH,LOW
0,2016-03-07 08:59:59.990000,1.2932,1.2917,NaN,2016-03-07 08:59:59.990000,0.10725,0.1072,NaN,2016-03-07 08:59:59.990000,0.6842,0.6829
1,2016-03-07 09:15:00,1.294,1.293,NaN,2016-03-07 09:15:00,0.10728,0.10717,NaN,2016-03-07 09:15:00,0.6849,0.6841
2,2016-03-07 09:30:00,1.2943,1.2922,NaN,2016-03-07 09:30:00,0.10726,0.10719,NaN,2016-03-07 09:30:00,0.6844,0.6837
3,2016-03-07 09:45:00,1.293,1.2913,NaN,2016-03-07 09:45:00,0.10728,0.10721,NaN,2016-03-07 09:45:00,0.6844,0.6839
4,2016-03-07 10:00:00,1.2931,1.2921,NaN,2016-03-07 10:00:00,0.10725,0.10719,NaN,2016-03-07 10:00:00,0.684,0.6835

In [83]:
GBP=df.iloc[:,:3]

In [85]:
GBP.head()

1                        Date    HIGH     LOW
0  2016-03-07 08:59:59.990000  1.2932  1.2917
1         2016-03-07 09:15:00   1.294   1.293
2         2016-03-07 09:30:00  1.2943  1.2922
3         2016-03-07 09:45:00   1.293  1.2913
4         2016-03-07 10:00:00  1.2931  1.2921

In [87]:
SEK=df.iloc[:,4:7]
SEK.head()

1                        Date     HIGH      LOW
0  2016-03-07 08:59:59.990000  0.10725   0.1072
1         2016-03-07 09:15:00  0.10728  0.10717
2         2016-03-07 09:30:00  0.10726  0.10719
3         2016-03-07 09:45:00  0.10728  0.10721
4         2016-03-07 10:00:00  0.10725  0.10719

In [89]:
CAD=df.iloc[:,8:11]
CAD.head()

1                        Date    HIGH     LOW
0  2016-03-07 08:59:59.990000  0.6842  0.6829
1         2016-03-07 09:15:00  0.6849  0.6841
2         2016-03-07 09:30:00  0.6844  0.6837
3         2016-03-07 09:45:00  0.6844  0.6839
4         2016-03-07 10:00:00   0.684  0.6835

In [99]:
GBP["average"]=(GBP["HIGH"]+GBP["LOW"])/2
SEK["average"]=(SEK["HIGH"]+SEK["LOW"])/2
CAD["average"]=(CAD["HIGH"]+CAD["LOW"])/2

In [101]:
GBP["t"]=GBP.index
SEK["t"]=SEK.index
CAD["t"]=CAD.index

In [103]:
GBP["k"]=GBP["t"]-1
SEK["k"]=SEK["t"]-1
CAD["k"]=CAD["t"]-1

In [105]:
GBP.head()

1                        Date    HIGH     LOW  average  t  k
0  2016-03-07 08:59:59.990000  1.2932  1.2917  1.29245  0 -1
1         2016-03-07 09:15:00   1.294   1.293   1.2935  1  0
2         2016-03-07 09:30:00  1.2943  1.2922  1.29325  2  1
3         2016-03-07 09:45:00   1.293  1.2913  1.29215  3  2
4         2016-03-07 10:00:00  1.2931  1.2921   1.2926  4  3

In [113]:
j=-7
GBP["k2^-j"]=GBP["k"]*2**(-j)
SEK["k2^-j"]=SEK["k"]*2**(-j)
CAD["k2^-j"]=CAD["k"]*2**(-j)

In [117]:
GBP["(k+1)2^-j"]=(GBP["k"]+1)*2**(-j)
SEK["(k+1)2^-j"]=(SEK["k"]+1)*2**(-j)
CAD["(k+1)2^-j"]=(CAD["k"]+1)*2**(-j)

In [207]:
resultats = []
some_locale=0
for k in GBP["k"]:
    borne_inf = k * 2**(-j)        
    borne_sup = (k + 1) * 2**(-j)  
    
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (GBP["t"] >= borne_inf) & (GBP["t"] < borne_sup)
    
    somme_locale = np.sum(GBP["average"][masque])
    resultats.append(2**(j/2) * somme_locale)

GBP["coef wavelet"] = resultats

In [227]:
GBP.head()

1,Date,HIGH,LOW,average,t,k,k2^-j,(k+1)2^-j,coef wavelet
0,2016-03-07 08:59:59.990000,1.2932,1.2917,1.29245,0,-1,-128,0,0.000000
1,2016-03-07 09:15:00,1.294,1.293,1.2935,1,0,0,128,14.623459
2,2016-03-07 09:30:00,1.2943,1.2922,1.29325,2,1,128,256,14.625085
3,2016-03-07 09:45:00,1.293,1.2913,1.29215,3,2,256,384,14.545058
4,2016-03-07 10:00:00,1.2931,1.2921,1.2926,4,3,384,512,14.581691

In [273]:
resultats = []
some_locale=0

for k in SEK["k"]:
    borne_inf = k * 2**(-j)        
    borne_sup = (k + 1) * 2**(-j)  
    
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (SEK["t"] >= borne_inf) & (SEK["t"] < borne_sup)
    
    somme_locale = np.sum(SEK["average"][masque])
    resultats.append(2**(j/2) * somme_locale)

SEK["coef wavelet"] = resultats

In [274]:
SEK.head()

1,Date,HIGH,LOW,average,t,k,k2^-j,(k+1)2^-j,coef wavelet
0,2016-03-07 08:59:59.990000,0.10725,0.1072,0.107225,0,-1,-128,0,0.000000
1,2016-03-07 09:15:00,0.10728,0.10717,0.107225,1,0,0,128,1.211259
2,2016-03-07 09:30:00,0.10726,0.10719,0.107225,2,1,128,256,1.214215
3,2016-03-07 09:45:00,0.10728,0.10721,0.107245,3,2,256,384,1.213702
4,2016-03-07 10:00:00,0.10725,0.10719,0.10722,4,3,384,512,1.215845

In [213]:
resultats = []
some_locale=0

for k in CAD["k"]:
    borne_inf = k * 2**(-j)        
    borne_sup = (k + 1) * 2**(-j)  
    
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (CAD["t"] >= borne_inf) & (CAD["t"] < borne_sup)
    
    somme_locale = np.sum(CAD["average"][masque])
    resultats.append(2**(j/2) * somme_locale)

CAD["coef wavelet"] = resultats

In [214]:
CAD.head()

1,Date,HIGH,LOW,average,t,k,k2^-j,(k+1)2^-j,coef wavelet
0,2016-03-07 08:59:59.990000,0.6842,0.6829,0.68355,0,-1,-128,0,0.000000
1,2016-03-07 09:15:00,0.6849,0.6841,0.6845,1,0,0,128,7.715870
2,2016-03-07 09:30:00,0.6844,0.6837,0.68405,2,1,128,256,7.698360
3,2016-03-07 09:45:00,0.6844,0.6839,0.68415,3,2,256,384,7.679467
4,2016-03-07 10:00:00,0.684,0.6835,0.68375,4,3,384,512,7.673054

In [289]:
resultats = []

some_locale=0

for t in GBP["t"]:
    borne_inf = (t) * 2**(j)-1        
    borne_sup = t * 2**(j)  
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (GBP["k"] >= borne_inf) & (GBP["k"] < borne_sup)
    somme_locale = np.sum(GBP["coef wavelet"][masque])

    resultats.append(2**(j/2) * somme_locale)

GBP["z approx"] = resultats

In [303]:
GBP.head()

1,Date,HIGH,LOW,average,t,k,k2^-j,(k+1)2^-j,coef wavelet,z approx
0,2016-03-07 08:59:59.990000,1.2932,1.2917,1.29245,0,-1,-128,0,0.000000,0.000000
1,2016-03-07 09:15:00,1.294,1.293,1.2935,1,0,0,128,14.623459,1.292543
2,2016-03-07 09:30:00,1.2943,1.2922,1.29325,2,1,128,256,14.625085,1.292543
3,2016-03-07 09:45:00,1.293,1.2913,1.29215,3,2,256,384,14.545058,1.292543
4,2016-03-07 10:00:00,1.2931,1.2921,1.2926,4,3,384,512,14.581691,1.292543

In [293]:
resultats = []

some_locale=0

for t in SEK["t"]:
    borne_inf = (t) * 2**(j)-1        
    borne_sup = t * 2**(j)  
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (SEK["k"] >= borne_inf) & (SEK["k"] < borne_sup)
    somme_locale = np.sum(GBP["coef wavelet"][masque])

    resultats.append(2**(j/2) * somme_locale)

SEK["z approx"] = resultats

In [294]:
resultats = []

some_locale=0

for t in CAD["t"]:
    borne_inf = (t) * 2**(j)-1        
    borne_sup = t * 2**(j)  
    # C'est l'équivalent de [indicatrice(A) - indicatrice(B)]
    masque = (CAD["k"] >= borne_inf) & (CAD["k"] < borne_sup)
    somme_locale = np.sum(GBP["coef wavelet"][masque])

    resultats.append(2**(j/2) * somme_locale)

CAD["z approx"] = resultats

In [313]:
GBP["average"] = pd.to_numeric(GBP["average"], errors='coerce')

GBP["X"] = np.log(GBP["average"])

In [315]:
GBP.head()

1,Date,HIGH,LOW,average,t,k,k2^-j,(k+1)2^-j,coef wavelet,z approx,X
0,2016-03-07 08:59:59.990000,1.2932,1.2917,1.29245,0,-1,-128,0,0.000000,0.000000,0.256540
1,2016-03-07 09:15:00,1.294,1.293,1.29350,1,0,0,128,14.623459,1.292543,0.257352
2,2016-03-07 09:30:00,1.2943,1.2922,1.29325,2,1,128,256,14.625085,1.292543,0.257158
3,2016-03-07 09:45:00,1.293,1.2913,1.29215,3,2,256,384,14.545058,1.292543,0.256307
4,2016-03-07 10:00:00,1.2931,1.2921,1.29260,4,3,384,512,14.581691,1.292543,0.256656

In [339]:
import math
N=252
T=2
M2 = (1/N*T) * sum((GBP["X"]*(i/N) - GBP["X"]*(i-1)/N)**2 for i in range(1, 505))
M2=np.sum(M2)

In [341]:
print(M2)

0.038192188901508925