In [43]:
import pandas as pd
import numpy as np

In [195]:
df=pd.read_excel("Dataset TD4.xlsx")

In [197]:
df.head()

,transaction date (1=1day=24 hours),bid-ask spread,volume of the transaction (if known),Sign of the transaction,Price (before transaction)
0,0.000202,0.1100,8.0,-1,100.000
1,0.001070,0.1030,NaN,1,99.984
2,0.001496,0.1015,NaN,-1,100.029
3,0.003336,0.0920,NaN,1,99.979
4,0.003952,0.1106,NaN,1,100.060

In [199]:
from sklearn.linear_model import LinearRegression

In [201]:
df['price_change'] = df['Price (before transaction)'].diff()

In [215]:
df.head()

,transaction date (1=1day=24 hours),bid-ask spread,volume of the transaction (if known),Sign of the transaction,Price (before transaction),price_change,estimated_volume
0,0.000202,0.1100,8.0,-1,100.000,NaN,NaN
1,0.001070,0.1030,NaN,1,99.984,-0.016,118.552362
2,0.001496,0.1015,NaN,-1,100.029,0.045,105.562328
3,0.003336,0.0920,NaN,1,99.979,-0.050,103.443997
4,0.003952,0.1106,NaN,1,100.060,0.081,136.319299

In [205]:
known_value=df.dropna(subset=["volume of the transaction (if known)"])

In [207]:
X_known = known_value[['price_change', 'bid-ask spread', 'Sign of the transaction']]
y_known = known_value['volume of the transaction (if known)']

In [209]:
X_known = X_known.fillna(0)
model = LinearRegression()
model.fit(X_known, y_known)

LinearRegression()

In [211]:
unknown=df[df["volume of the transaction (if known)"].isna()]

In [213]:
X_unknown = unknown[['price_change', 'bid-ask spread', 'Sign of the transaction']].fillna(0)
predicted_volumes = model.predict(X_unknown)

df.loc[df['volume of the transaction (if known)'].isna(), 'estimated_volume'] = predicted_volumes
print(df[['transaction date (1=1day=24 hours)', 'volume of the transaction (if known)', 'estimated_volume']].head(10))

   transaction date (1=1day=24 hours)  volume of the transaction (if known)  \
0                            0.000202                                   8.0
1                            0.001070                                   NaN
2                            0.001496                                   NaN
3                            0.003336                                   NaN
4                            0.003952                                   NaN
5                            0.004014                                   NaN
6                            0.004074                                  32.0
7                            0.005494                                   NaN
8                            0.005559                                   NaN
9                            0.005749                                   NaN

   estimated_volume
0               NaN
1        118.552362
2        105.562328
3        103.443997
4        136.319299
5        129.903822
6               NaN
7        100.045975
8        101.588058
9         78.389086

In [217]:
df["volume of the transaction (if known)"]=df["volume of the transaction (if known)"].combine_first(df["estimated_volume"])

In [219]:
df.head()

,transaction date (1=1day=24 hours),bid-ask spread,volume of the transaction (if known),Sign of the transaction,Price (before transaction),price_change,estimated_volume
0,0.000202,0.1100,8.000000,-1,100.000,NaN,NaN
1,0.001070,0.1030,118.552362,1,99.984,-0.016,118.552362
2,0.001496,0.1015,105.562328,-1,100.029,0.045,105.562328
3,0.003336,0.0920,103.443997,1,99.979,-0.050,103.443997
4,0.003952,0.1106,136.319299,1,100.060,0.081,136.319299

In [225]:
df.drop(columns="estimated_volume")

,transaction date (1=1day=24 hours),bid-ask spread,volume of the transaction (if known),Sign of the transaction,Price (before transaction),price_change
0,0.000202,0.1100,8.000000,-1,100.000,NaN
1,0.001070,0.1030,118.552362,1,99.984,-0.016
2,0.001496,0.1015,105.562328,-1,100.029,0.045
3,0.003336,0.0920,103.443997,1,99.979,-0.050
4,0.003952,0.1106,136.319299,1,100.060,0.081
...,...,...,...,...,...,...
996,0.981441,0.0834,79.000000,1,101.070,0.070
997,0.981875,0.1010,105.528128,-1,101.120,0.050
998,0.986784,0.1007,88.061120,-1,100.998,-0.122
999,0.991232,0.1153,3.000000,-1,100.958,-0.040
1000,0.992002,0.1045,120.748540,1,100.948,-0.010

In [227]:
df = df.dropna(subset=["price_change"])

df["y"] = df["price_change"] / df["Sign of the transaction"]

X = df[["volume of the transaction (if known)"]]
y = df["y"]

# Fit linear regression
model = LinearRegression()
model.fit(X, y)

gamma = model.coef_[0]   # slope
etha = model.intercept_   # intercept

print(f"Estimated gamma (permanent impact): {gamma:.6f}")
print(f"Estimated etha (temporary impact): {etha:.6f}")

Estimated gamma (permanent impact): -0.000012
Estimated etha (temporary impact): 0.003190

C:\Users\adrie\AppData\Local\Temp\ipykernel_14768\3127153673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["y"] = df["price_change"] / df["Sign of the transaction"]

In [231]:
df2=pd.read_excel("Dataset TD4.xlsx")

In [233]:
df2.dropna(subset="volume of the transaction (if known)")

,transaction date (1=1day=24 hours),bid-ask spread,volume of the transaction (if known),Sign of the transaction,Price (before transaction)
0,0.000202,0.1100,8.0,-1,100.000
6,0.004074,0.1294,32.0,1,100.164
16,0.014393,0.1141,8.0,-1,100.048
28,0.022861,0.0978,141.0,-1,99.876
51,0.037864,0.1291,121.0,-1,99.608
...,...,...,...,...,...
988,0.968804,0.0896,14.0,-1,101.206
989,0.969113,0.1105,150.0,-1,101.184
990,0.971882,0.0929,17.0,-1,101.083
996,0.981441,0.0834,79.0,1,101.070
999,0.991232,0.1153,3.0,-1,100.958