In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df=pd.read_csv("TD1.csv", sep=";")
df["Cours de Natixis"] = df["Cours de Natixis"].astype(str).str.replace(",", ".").astype(float)

In [5]:
df.head()

         Date  Cours de Natixis
0  02/01/2015             5.621
1  05/01/2015             5.424
2  06/01/2015             5.329
3  07/01/2015             5.224
4  08/01/2015             5.453

In [7]:
df.tail()

            Date  Cours de Natixis
1018  21/12/2018             4.045
1019  24/12/2018             4.010
1020  27/12/2018             3.938
1021  28/12/2018             4.088
1022  31/12/2018             4.119

In [9]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [11]:
P = df["Cours de Natixis"].values 
returns = (P[1:] - P[:-1]) / P[:-1]
returns = np.append(returns, np.nan)

df["Return"] = returns

df_date = df[(df["Date"] >= "2015-01-01") & (df["Date"] <= "2016-12-31")] 

df_sorted = df_date.sort_values(by = "Return", ascending = True)

df_date.head()

        Date  Cours de Natixis    Return
0 2015-01-02             5.621 -0.035047
1 2015-01-05             5.424 -0.017515
2 2015-01-06             5.329 -0.019704
3 2015-01-07             5.224  0.043836
4 2015-01-08             5.453 -0.020723

In [13]:
df.head()

        Date  Cours de Natixis    Return
0 2015-01-02             5.621 -0.035047
1 2015-01-05             5.424 -0.017515
2 2015-01-06             5.329 -0.019704
3 2015-01-07             5.224  0.043836
4 2015-01-08             5.453 -0.020723

In [15]:
df.tail()

           Date  Cours de Natixis    Return
1018 2018-12-21             4.045 -0.008653
1019 2018-12-24             4.010 -0.017955
1020 2018-12-27             3.938  0.038090
1021 2018-12-28             4.088  0.007583
1022 2018-12-31             4.119       NaN

In [17]:
df_date.tail()

          Date  Cours de Natixis    Return
508 2016-12-23             5.376  0.000744
509 2016-12-27             5.380 -0.000186
510 2016-12-28             5.379 -0.009481
511 2016-12-29             5.328  0.006006
512 2016-12-30             5.360  0.007463

In [19]:
df_sorted.head()

          Date  Cours de Natixis    Return
377 2016-06-23             4.150 -0.171325
344 2016-05-09             4.386 -0.069083
357 2016-05-26             4.752 -0.061448
404 2016-08-01             3.643 -0.060664
276 2016-02-01             4.470 -0.058613

In [21]:
df_sorted.tail()

          Date  Cours de Natixis    Return
282 2016-02-09             3.860  0.062435
304 2016-03-10             4.780  0.063389
163 2015-08-24             5.405  0.064755
402 2016-07-28             3.425  0.075912
325 2016-04-12             4.437  0.078431

In [23]:
alpha = 0.05  # probability level (5%)
returns = df_date["Return"]

returns_sorted = np.sort(returns)
n=len(returns_sorted)
# Find the index corresponding to alpha
index_empirical = int(np.floor(alpha * (n-1)))

# Empirical VaR
VaR_empirical = returns_sorted[index_empirical]

print(f"Empirical VaR at {alpha*100}%: {VaR_empirical:}")

Empirical VaR at 5.0%: -0.038933559035124875

In [25]:
from scipy.stats import norm

mu = returns.mean()
sigma = returns.std()
z = norm.ppf(alpha)

VaR_parametric = mu + sigma * z
print(f"Parametric Gaussian VaR at {alpha*100}%: {VaR_parametric:.4f}")

Parametric Gaussian VaR at 5.0%: -0.0390

In [27]:
from scipy.stats import gaussian_kde

kde = gaussian_kde(returns)

x_grid = np.linspace(returns.min(), returns.max(), 10000)
cdf = np.cumsum(kde(x_grid))
cdf /= cdf[-1]  

VaR_kernel = x_grid[np.searchsorted(cdf, alpha)]
print(f"Non-parametric KDE VaR at {alpha*100}%: {VaR_kernel:.4f}")

Non-parametric KDE VaR at 5.0%: -0.0392

In [32]:
methods = {
    "Empirical": VaR_empirical,
    "Parametric": VaR_parametric,
    "Kernel": VaR_kernel
}
n=len(returns)
print(n)
pow(n,3)

513

135005697

In [59]:
results = []
for name, VaR in methods.items():
    exceptions = int(np.sum(returns <= VaR))
    proportion = exceptions / n
    results.append([name, exceptions, proportion])

table = pd.DataFrame(results, columns=["Method", "Exceptions", "Proportion"])
print(table.to_string(index=False))

    Method  Exceptions  Proportion
 Empirical          26    0.050682
Parametric          24    0.046784
    Kernel          22    0.042885

In [61]:
df_date2 = df[(df["Date"] >= "2017-01-01") & (df["Date"] <= "2018-12-31")] 
df_date2=df_date2.dropna()
df_date2.tail()
df_sorted2 = df_date2.sort_values(by = "Return", ascending = True)

In [63]:
returns2 = df_date2["Return"]

returns_sorted2 = np.sort(returns2)
N=len(returns_sorted2)
# Find the index corresponding to alpha
index_empirical2 = int(np.floor(alpha * (N-1)))

# Empirical VaR
VaR_empirical2 = returns_sorted2[index_empirical2]

print(f"Empirical VaR at {alpha*100}%: {VaR_empirical2:}")

Empirical VaR at 5.0%: -0.024170274170274075

In [65]:

mu2 = returns2.mean()
sigma2 = returns2.std()
z2 = norm.ppf(alpha)

VaR_parametric2 = mu2 + sigma2 * z2
print(f"Parametric Gaussian VaR at {alpha*100}%: {VaR_parametric2:.4f}")

Parametric Gaussian VaR at 5.0%: -0.0266

In [67]:
kde2 = gaussian_kde(returns2)

x_grid2 = np.linspace(returns2.min(), returns2.max(), 10000)
cdf2 = np.cumsum(kde2(x_grid2))
cdf2 /= cdf2[-1]  

VaR_kernel2 = x_grid2[np.searchsorted(cdf2, alpha)]
print(f"Non-parametric KDE VaR at {alpha*100}%: {VaR_kernel2:.4f}")

Non-parametric KDE VaR at 5.0%: -0.0249

In [69]:
methods2 = {
    "Empirical": VaR_empirical,
    "Parametric": VaR_parametric,
    "Kernel": VaR_kernel
}

In [75]:
results2 = []
for name, VaR in methods2.items():
    exceptions2 = int(np.sum(returns2 <= VaR))
    proportion2 = exceptions2 / N
    results2.append([name, exceptions2, proportion2])

# Tableau final
table2 = pd.DataFrame(results2, columns=["Method", "Exceptions", "Proportion"])
print(table2.to_string(index=False))

    Method  Exceptions  Proportion
 Empirical           8    0.015717
Parametric           8    0.015717
    Kernel           8    0.015717

In [77]:
# Filter returns for October â€“ December 2016
df_date3 = df[(df["Date"] >= "2016-10-01") & (df["Date"] <= "2016-12-31")]
df_date3 = df_date3.dropna()
df_date3.tail()

returns3 = df_date3["Return"]

# ----- Empirical VaR -----
returns_sorted3 = np.sort(returns3)
N3 = len(returns_sorted3)
index_empirical3 = int(np.floor(alpha * (N3 - 1)))
VaR_empirical3 = returns_sorted3[index_empirical3]
print(f"Empirical VaR at {alpha*100}%: {VaR_empirical3:.4f}")

# ----- Parametric VaR -----
mu3 = returns3.mean()
sigma3 = returns3.std(ddof=1)
z3 = norm.ppf(alpha)
VaR_parametric3 = mu3 + sigma3 * z3
print(f"Parametric Gaussian VaR at {alpha*100}%: {VaR_parametric3:.4f}")

# ----- KDE VaR -----
kde3 = gaussian_kde(returns3)
x_grid3 = np.linspace(returns3.min(), returns3.max(), 10000)
cdf3 = np.cumsum(kde3(x_grid3))
cdf3 /= cdf3[-1]
VaR_kernel3 = x_grid3[np.searchsorted(cdf3, alpha)]
print(f"Non-parametric KDE VaR at {alpha*100}%: {VaR_kernel3:.4f}")

# ----- Validation -----
methods3 = {
    "Empirical": VaR_empirical3,
    "Parametric": VaR_parametric3,
    "Kernel": VaR_kernel3
}

results3 = []
for name, VaR in methods3.items():
    exceptions3 = int(np.sum(returns3 <= VaR))
    proportion3 = exceptions3 / N3
    results3.append([name, exceptions3, proportion3])

# ----- Tableau final -----
table3 = pd.DataFrame(results3, columns=["Method", "Exceptions", "Proportion"])
print(table3.to_string(index=False))

Empirical VaR at 5.0%: -0.0249
Parametric Gaussian VaR at 5.0%: -0.0230
Non-parametric KDE VaR at 5.0%: -0.0232
    Method  Exceptions  Proportion
 Empirical           4      0.0625
Parametric           4      0.0625
    Kernel           4      0.0625

In [141]:
df_first = df[(df["Date"] >= "2015-01-01") & (df["Date"] <= "2015-12-31")]
df_first2 = df[(df["Date"] >= "2016-01-01") & (df["Date"] <= "2016-12-31")]
df_first3 = df[(df["Date"] >= "2017-01-01") & (df["Date"] <= "2017-12-31")]
df_first4 = df[(df["Date"] >= "2018-01-01") & (df["Date"] <= "2018-12-31")]

In [145]:
volatility = df_first["Return"].std()
volatility2 = df_first2["Return"].std()
volatility3 = df_first3["Return"].std()
volatility4 = df_first4["Return"].std()

print(volatility)
print(volatility2)
print(volatility3)
print(volatility4)

0.020207085471245532
0.027057026744485183
0.015964357998143233
0.015744768486470686

In [147]:
annual_std = volatility * np.sqrt(256)
annual_std2 = volatility2 * np.sqrt(256)
annual_std3 = volatility3 * np.sqrt(256)
annual_std4 = volatility4 * np.sqrt(256)

In [149]:
print(annual_std)
print(annual_std2)
print(annual_std3)
print(annual_std4)

0.3233133675399285
0.43291242791176293
0.25542972797029173
0.251916295783531

0.32078938698499354