In [1]:
import numpy as np
import pandas as pd
import math
from scipy.stats import norm

In [3]:
df=pd.read_csv("TD1.csv", sep=";")
df["Cours de Natixis"] = df["Cours de Natixis"].astype(str).str.replace(",", ".").astype(float)
df.head()

         Date  Cours de Natixis
0  02/01/2015             5.621
1  05/01/2015             5.424
2  06/01/2015             5.329
3  07/01/2015             5.224
4  08/01/2015             5.453

In [5]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [11]:
P = df["Cours de Natixis"].values 
returns = (P[1:] - P[:-1]) / P[:-1]
returns = np.append(returns, np.nan)

df["Return"] = returns


df_sorted = df.sort_values(by = "Return", ascending = True)

df_sorted.head()

           Date  Cours de Natixis    Return
377  2016-06-23             4.150 -0.171325
344  2016-05-09             4.386 -0.069083
1015 2018-12-18             4.453 -0.063328
357  2016-05-26             4.752 -0.061448
404  2016-08-01             3.643 -0.060664

In [121]:
returns_sorted = np.sort(df["Return"].values)


losses = returns_sorted[returns_sorted < 0]
gains = returns_sorted[returns_sorted > 0]

abs_losses = np.abs(losses)
abs_losses = np.sort(abs_losses)

In [123]:
n = len(losses)
k = int(np.sqrt(n))
pickands_losses = (1 / np.log(2)) * np.log((abs_losses[-k] - abs_losses[-2*k]) / (abs_losses[-2*k] - abs_losses[-4*k]))

In [125]:
print(pickands_losses)

0.4081905706152293

In [127]:
n_gain=len(gains)
k_gain=int(np.sqrt(n_gain))
pickands_gains=(1 / np.log(2)) * np.log((gains[-k_gain] - gains[-2*k_gain]) / (gains[-2*k_gain] - gains[-4*k_gain]))

In [129]:
print(pickands_gains)

0.7195506129332101

In [143]:
alpha = 0.95

VaR_95 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [145]:
print(VaR_95)

0.041594311391404196

In [147]:
alpha = 0.9

VaR_90 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [149]:
print(VaR_90)

0.028355833756663593

In [151]:
alpha = 0.99

VaR_99 = ((((k / (n * (1 - alpha))) ** pickands_losses**alpha) - 1)/ (1 - 2 ** (-pickands_losses*alpha))) * (abs_losses[-k] - abs_losses[-2 * k]) + abs_losses[-k]

In [153]:
print(VaR_99)

0.08406218630097897

In [155]:
return_inv=-returns

In [157]:
print(return_inv)

[ 0.03504714  0.01751475  0.01970351 ... -0.0380904  -0.00758317
         nan]

In [211]:
u = VaR_95   # si VaR_95 est défini sur abs_losses (positif). Sinon mettre u = abs(VaR_95)
size_blocks = 30       # taille du bloc
r = 30 
if u < 0:
    u = abs(u)
exceed = pd.Series(return_inv > u)

n = len(return_inv)
nb_exceedances = int(exceed.sum())
nb_blocks = n // size_blocks

nb_blocks_with_exceed = 0
for i in range(nb_blocks):
    start = i * size_blocks
    end = start + size_blocks
    if exceed[start:end].any():
        nb_blocks_with_exceed += 1

if n % b != 0:
    if exceed.iloc[nb_blocks * size_blocks : ].any():
        # compter la dernière "demi-bloc" comme bloc supplémentaire
        nb_blocks += 1
        nb_blocks_with_exceed += 1

theta_block = nb_blocks_with_exceed / nb_exceedances

exceed_idx = np.where(exceed.values)[0]

nb_clusters_run = 0
if len(exceed_idx) > 0:
    nb_clusters_run = 1
    last_idx = exceed_idx[0]
    for idx in exceed_idx[1:]:
        if idx - last_idx > r:
            nb_clusters_run += 1
        last_idx = idx

theta_run = nb_clusters_run / nb_exceedances if nb_exceedances > 0 else float("nan")

# --- Résultats ---
print("n (obs) =", n)
print("Seuil u =", u)
print("Taille bloc b =", size_blocks)
print("Nombre de blocs (k) =", nb_blocks)
print("Nombre d'exceedances (rendements > u) =", nb_exceedances)
print("Nombre de blocs avec >=1 exceedance =", nb_blocks_with_exceed)
print("Estimateur extrémal (block) θ_hat =", theta_block)
print("---")
print("Run declustering (r) =", r)
print("Nombre de clusters (runs) =", nb_clusters_run)
print("Estimateur extrémal (run) θ_hat =", theta_run)

n (obs) = 1023
Seuil u = 0.041594311391404196
Taille bloc b = 30
Nombre de blocs (k) = 34
Nombre d'exceedances (rendements > u) = 28
Nombre de blocs avec >=1 exceedance = 15
Estimateur extrémal (block) θ_hat = 0.5357142857142857
---
Run declustering (r) = 30
Nombre de clusters (runs) = 9
Estimateur extrémal (run) θ_hat = 0.32142857142857145

In [201]:
print(nb_blocks)

34