In [1]:
import numpy as np
import pandas as pd
import math
from scipy.stats import norm

In [2]:
df=pd.read_csv("TD1.csv", sep=";")
df["Cours de Natixis"] = df["Cours de Natixis"].astype(str).str.replace(",", ".").astype(float)
df.head()

         Date  Cours de Natixis
0  02/01/2015             5.621
1  05/01/2015             5.424
2  06/01/2015             5.329
3  07/01/2015             5.224
4  08/01/2015             5.453

In [3]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [4]:
P = df["Cours de Natixis"].values 
returns = (P[1:] - P[:-1]) / P[:-1]
returns = np.append(returns, np.nan)

df["Return"] = returns

df_date = df[(df["Date"] >= "2015-01-01") & (df["Date"] <= "2016-12-31")] 

df_sorted = df_date.sort_values(by = "Return", ascending = True)

df_date.head()

        Date  Cours de Natixis    Return
0 2015-01-02             5.621 -0.035047
1 2015-01-05             5.424 -0.017515
2 2015-01-06             5.329 -0.019704
3 2015-01-07             5.224  0.043836
4 2015-01-08             5.453 -0.020723

In [5]:
df_date2 = df[(df["Date"] >= "2015-01-01") & (df["Date"] <= "2015-12-31")]

In [6]:
volatility = df_date2["Return"].std()
annual_std = volatility * np.sqrt(256)
print(annual_std)

0.3233133675399285

In [7]:
mean_return = df_date2["Return"].mean()

upper_returns = df_date2["Return"][df_date2["Return"] > mean_return]
upper_semi_dev = np.sqrt(((upper_returns - mean_return) ** 2).sum() / len(df_date2))
annual_upper_semi_dev = upper_semi_dev * np.sqrt(256)

# Lower semi-deviation: only returns below the mean
lower_returns = df_date2["Return"][df_date2["Return"] < mean_return]
lower_semi_dev = np.sqrt(((lower_returns - mean_return) ** 2).sum() / len(df_date2))
annual_lower_semi_dev = lower_semi_dev * np.sqrt(256)

print(f"2015 Annual Upper Semi-Deviation: {annual_upper_semi_dev}")
print(f"2015 Annual Lower Semi-Deviation: {annual_lower_semi_dev}")

2015 Annual Upper Semi-Deviation: 0.2277166908741542
2015 Annual Lower Semi-Deviation: 0.2286226498492472

In [8]:
alpha = 0.05
returns = df_date2["Return"]

VaR_95 = np.percentile(returns, 100 * alpha)

expected_shortfall = returns[returns <= VaR_95].mean()

print(f"VaR (95%): {VaR_95}")
print(f"Expected Shortfall (95%): {expected_shortfall}")

VaR (95%): -0.035225391486491966
Expected Shortfall (95%): -0.04414997412574444

ES is always lower than VaR because it is the mean of the values below the VaR

In [10]:
log_return=np.log(df_date2["Cours de Natixis"]/df["Cours de Natixis"].shift(-1))

In [20]:
mean_return=log_return.mean()
std_return=log_return.std()

In [22]:
df_est = df[(df["Date"] >= "2015-01-01") & (df["Date"] <= "2018-12-31")]
P = df["Cours de Natixis"].values 
dP = np.diff(P)
dP = np.insert(dP, 0, np.nan)
df_est["dP"] = dP
dP_series = df_est["dP"].dropna()

mu_dP_ewm = dP_series.ewm(alpha=alpha, adjust=False).mean().values[-1]
var_dP_ewm = (dP_series - mu_dP_ewm).pow(2).ewm(alpha=alpha, adjust=False).mean().values[-1]

sigma_dP_ewm = np.sqrt(var_dP_ewm)

In [24]:
x = dP_series.values

weighted_mean = np.zeros_like(x)
weighted_mean[0] = x[0]  

for t in range(1, len(x)):
    weighted_mean[t] = alpha * x[t] + (1 - alpha) * weighted_mean[t-1]

mu_last = weighted_mean[-1]

In [26]:
weighted_var = np.zeros_like(x)
weighted_var[0] = 0  # initial

for t in range(1, len(x)):
    delta_mean = weighted_mean[t] - weighted_mean[t-1]
    weighted_var[t] = alpha * (x[t] - weighted_mean[t])**2 + (1-alpha) * (weighted_var[t-1] + delta_mean**2) 

sigma_last = np.sqrt(weighted_var[-1])

In [28]:
print(sigma_last)
print(sigma_dP_ewm)

0.10487322498587323
0.10487322498587322

In [30]:
ret_series = df_est["Return"].dropna()
mu_ret_ewm = ret_series.ewm(alpha=alpha, adjust=False).mean().values[-1]   # scalar
var_ret_ewm = ((ret_series - mu_ret_ewm)**2).ewm(alpha=alpha, adjust=False).mean().values[-1]
sigma_ret_daily_ewm = np.sqrt(var_ret_ewm)
sigma_annual = sigma_ret_daily_ewm * np.sqrt(256)

print(sigma_annual)

0.3668159967310738

In [32]:
def bs_call_price(S, K, r, sigma_annual, T_years):
    if T_years <= 0 or sigma_annual <= 0:
        return max(S - K, 0.0)
    sqrtT = math.sqrt(T_years)
    d1 = (math.log(S / K) + 0.5 * sigma_annual**2 * T_years) / (sigma_annual * sqrtT)
    d2 = d1 - sigma_annual * sqrtT
    return S * norm.cdf(d1) - K * norm.cdf(d2)

In [34]:
N = 1000                     
days_in_month = 21            
tau0 = 21 / 256
tau1 = 20 / 256  

S0 = df_est["Cours de Natixis"].values[-1]
K = S0
r = 0.0

C0 = bs_call_price(S0, K, r, sigma_annual, tau0)

Z = np.random.randn(N)
dP_sim = mu_dP_ewm + sigma_dP_ewm * Z
S1 = S0 + dP_sim
S1 = np.maximum(S1, 1e-6)   

C1 = np.array([bs_call_price(s, K, r, sigma_annual, tau1) for s in S1])

losses = C0 - C1

alpha = 0.95
VaR_95 = np.percentile(losses, 100 * alpha)
ES_95 = losses[losses >= VaR_95].mean()

print(f"C0 = {C0:.6f}")
print(f"VaR (95%) = {VaR_95:.6f}")
print(f"ES (95%) = {ES_95:.6f}")

C0 = 0.172560
VaR (95%) = 0.090330
ES (95%) = 0.102771

In [40]:
returns_sorted = np.sort(returns)
print(returns_sorted)

[-0.0528552  -0.05280103 -0.05011746 -0.04825658 -0.04498613 -0.04466168
 -0.04456263 -0.04198473 -0.04075829 -0.03913305 -0.03905064 -0.0390221
 -0.03576013 -0.03504714 -0.03481255 -0.03478609 -0.03404313 -0.033241
 -0.03174603 -0.03014534 -0.02845246 -0.02818409 -0.02678724 -0.0265542
 -0.02634334 -0.02493459 -0.0247619  -0.02439024 -0.02341651 -0.02276281
 -0.0223828  -0.02154648 -0.02113846 -0.0210544  -0.02072254 -0.02066746
 -0.02044267 -0.02033037 -0.01978799 -0.01970351 -0.01837148 -0.01751475
 -0.01708861 -0.01694398 -0.01690252 -0.01660418 -0.01656196 -0.01648148
 -0.01640465 -0.01586443 -0.0157468  -0.015396   -0.01515944 -0.01487431
 -0.01479035 -0.01423221 -0.01411509 -0.01403162 -0.01401127 -0.01391863
 -0.01374279 -0.01362774 -0.01339941 -0.01306395 -0.01263941 -0.01203924
 -0.01189759 -0.01158594 -0.01104371 -0.01076716 -0.01058884 -0.01041667
 -0.01026343 -0.01020585 -0.01014341 -0.00996678 -0.00976492 -0.00963901
 -0.00916149 -0.00915919 -0.00896057 -0.00868712 -0.00850702 -0.00840218
 -0.00840054 -0.00836895 -0.00825877 -0.00825472 -0.00811866 -0.00757856
 -0.00701262 -0.00692092 -0.00688544 -0.00668151 -0.00595518 -0.0056843
 -0.00554279 -0.0054984  -0.00531609 -0.00509134 -0.00506867 -0.00499376
 -0.00453018 -0.00443971 -0.00414079 -0.00413793 -0.00396539 -0.00386377
 -0.00380168 -0.00378329 -0.00362945 -0.00325042 -0.00250774 -0.00249299
 -0.00232933 -0.0022811  -0.00218204 -0.00216417 -0.00203817 -0.00199275
 -0.00181818 -0.00179387 -0.00176009 -0.0016335  -0.00154278 -0.00077712
 -0.00070611 -0.00013797  0.          0.00016943  0.00044636  0.00078125
  0.00091777  0.00112328  0.00121556  0.00125067  0.00130435  0.00138825
  0.00184877  0.00206186  0.00215479  0.00229327  0.00241821  0.00249808
  0.00261324  0.00278109  0.00285714  0.00297099  0.00323317  0.00336855
  0.00345352  0.00355872  0.00387898  0.00394336  0.00405954  0.00406936
  0.00428487  0.00477099  0.00492924  0.00499844  0.00501253  0.00520833
  0.00556414  0.00568891  0.00586636  0.0060263   0.00610927  0.00624905
  0.00646757  0.00651163  0.00652529  0.00706104  0.00773639  0.0081686
  0.00861095  0.00892326  0.00898628  0.00956509  0.00998777  0.01022432
  0.0102648   0.01063358  0.0114082   0.01141149  0.01143973  0.0115791
  0.0119683   0.01208865  0.01226994  0.01262778  0.01281716  0.0130719
  0.01315605  0.01328413  0.01333901  0.0137179   0.01377605  0.01389108
  0.01448135  0.01473125  0.01483924  0.01487219  0.01509107  0.01531034
  0.01541032  0.01564537  0.01586103  0.01610518  0.01649133  0.01668146
  0.01677074  0.01682859  0.01766988  0.01786815  0.01802484  0.01830947
  0.01840146  0.01845238  0.01863813  0.01865724  0.01883507  0.0198178
  0.01999708  0.02022867  0.02052344  0.02064339  0.02397498  0.02415741
  0.02472675  0.02485759  0.02490143  0.02528348  0.02583587  0.02603787
  0.02720981  0.02739726  0.02920411  0.03013216  0.03069054  0.03076102
  0.03084443  0.0308779   0.03090144  0.03261624  0.03483769  0.03705991
  0.03727832  0.03993735  0.04061014  0.04266777  0.04329819  0.04383614
  0.04427528  0.04942473  0.05155201  0.06475486]